@import "tailwindcss";

:root {
    --eppolix-white: #FFFFFF;
    --eppolix-green: #1BBC9B;
    --eppolix-light-green: #bad337;
    --eppolix-yellow: #F1C412;
    --eppolix-light-blue: #29abe2;
    --eppolix-gray: #96979D;
}

a, button {
    cursor: pointer;
}

.title-primary {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.title-secondary {
  color: var(--eppolix-white);
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.section {
    padding: 50px clamp(20px, 5vw, 100px);
    color: var(--eppolix-gray);
}

.btn {
    color: var(--eppolix-white);
    background-color: var(--eppolix-light-green);
    transition: .5s;
    margin: 1rem 0px;
    padding: 5px 1.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;

    &:hover {
        color: var(--eppolix-gray);
        background-color: var(--eppolix-white);
        transition: .3s ease-in-out;
    }
}

#sidebar {
   transition: transform 0.3s ease-in-out;
}

.nav-link {

    display: flex;
    gap: 4px;
    transition: .5s;
    padding: 5px 3px;
    border-radius: 10px;

    @media (max-width: 1200px) {
        align-items: center;
        font-size: 12px;
    }

    &:hover {
        color: var(--eppolix-white);
        background-color: var(--eppolix-green);
        transition: .3s ease-in-out;
    }
}

#about {
  color: var(--eppolix-white);
  height: 780px;
  background-image: linear-gradient(
    to right,
    var(--eppolix-green), 
    rgba(0, 128, 0, 0)
    ),
    url('/background/caminhao.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about-text {
    font-size: 0.9rem;
}

.service-link {
    display: flex;
    gap: 4px;
    align-items: center;
    transition: .5s;
    padding: 5px 3px;
    border-radius: 10px;

    &:hover {
        color: var(--eppolix-white);
        background-color: var(--eppolix-gray);
        transition: .3s ease-in-out;
    }
}

#treatment {
    color: var(--eppolix-white);
    height: 500px;
    background-image: linear-gradient(
        to right,
        var(--eppolix-yellow), 
        rgba(0, 128, 0, 0)
        ),
        url('/background/slid3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.client-card {
    opacity: 0.5;
    filter: grayscale(100%);
    background-color: white;
    border-radius: 0.75rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06); /* shadow-md */
    transition: opacity 0.5s ease-in-out, filter 0.5s ease-in-out, box-shadow 0.5s ease-in-out;

    &:hover {
        opacity: 1;
        filter: grayscale(0%);
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05);
    }
}

.footer-subtitle {
    display: flex;
    align-items: center;
    gap: .4rem;
    text-transform: uppercase;
}

.footer-link {
    transition: .5s;
    &:hover {
        color: var(--eppolix-green);
        text-decoration: underline;
    }
}