@import "tailwindcss";

:root {
    --eppolix-white: #FFFFFF;
    --eppolix-green: #1BBC9B;
    --eppolix-light-green: #bad337;
    --eppolix-gray: #96979D;
}

a,button {
    cursor: pointer;
}

#sidebar {
   transition: transform 0.3s ease-in-out;
}

.nav-link {

    display: flex;
    gap: 4px;
    transition: .5s;
    padding: 5px 3px;
    border-radius: 10px;

    @media (max-width: 1200px) {
        align-items: center;
        font-size: 12px;
    }

    &:hover {
        color: var(--eppolix-white);
        background-color: var(--eppolix-green);
        transition: .3s ease-in-out;
    }
}

.btn {
    color: var(--eppolix-white);
    background-color: var(--eppolix-light-green);
    transition: .5s;
    margin: 1rem 0px;
    padding: 5px 1.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;

    &:hover {
        color: var(--eppolix-gray);
        background-color: var(--eppolix-white);
        transition: .3s ease-in-out;
    }
}

#about {
  color: var(--eppolix-white);
  height: 780px;
  background-image: linear-gradient(
    to right,
    var(--eppolix-green), 
    rgba(0, 128, 0, 0)
    ),
    url('/background/caminhao.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about-text {
    font-size: 0.9rem;
}

#services {
    color: var(--eppolix-gray);
}

.service-link {
    display: flex;
    gap: 4px;
    align-items: center;
    transition: .5s;
    padding: 5px 3px;
    border-radius: 10px;

    &:hover {
        color: var(--eppolix-white);
        background-color: var(--eppolix-gray);
        transition: .3s ease-in-out;
    }
}

#clients {
    color: var(--eppolix-gray);
}

.section {
    padding: 50px clamp(20px, 5vw, 100px);
}

.footer-link {
    transition: .5s;
    &:hover {
        color: var(--eppolix-green);
        text-decoration: underline;
    }
}